tools/libs/desktop.ini
tools/desktop.ini
libs/__pycache__/desktop.ini
libs/desktop.ini
desktop.ini
libs/__pycache__/lib_telemtrybroker.cpython-312.pyc
libs/__pycache__/lib_telemtrybroker.cpython-312.pyc
